body {
  margin: 0;
  background-image: url("website-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 25%;
  margin-top: 5%;
}

nav {
  width: 160px;
}

.fa {
  margin: 7%;
  color: black;
}

.about {
  margin: auto;
  margin-top: 0;
  width: 50%;
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 3vh;
  height: 40%;
}

.aboutHead {
  display: flex;
  font-size: 4vh;
  justify-content: flex-start;
}

.justRipe {
  width: 18%;
  height: 18%;
  border-radius: 50%;
  margin-left: 2%;
  margin-bottom: 15%;
}

.roofstops {
  width: 18%;
  height: 18%;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 6%;
}

.clique {
  width: 18%;
  height: 18%;
  border-radius: 50%;
  margin-left: 10%;
}

.movie {
  width: 18%;
  height: 18%;
  border-radius: 50%;
  margin-bottom: 15%;
  margin-left: 7%;
}